/** main.css **/

body {
  font-size: 13px;
  background: #fff;
  width: 800px;
  text-align: center;
  margin: 0px auto;
  line-height: 1.5;
}

p, div, h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  clear: both;
}

a {
  color: #5588ff;
  font-size: 12px;
}

h3 {
  padding: 3px 5px;
  font-size: 12px;
  background: #bbddff;
  margin: 12px 0px;
}

#container {
  text-align: left;
  margin-bottom: 100px;
}

#header {
  height: 40px;
  border-bottom: solid 1px #aaf;
}

#header #logo {
  position: absolute;
  top: 5px;
}

#header #logo a {
  font-size: 12px;
  color: #000;
}

#header #minibar {
  position: absolute;
  right: 0px;
  bottom: 5px;
}

#header #minibar p {
  display: inline;
  margin-left: 5px;
  color: #aaa;
}

div.rulelist table {
  width: 100%;
}

ul#checklist li {
  list-style: none;
}

div.newtrade div.field {
  margin-top: 12px;
}

div.closetrade td {
  vertical-align: top;
}

div.newtrade textarea, div.closetrade textarea {
  height: 150px;
  width: 450px;
}

div.account {
  float: left;
  clear: none;
  margin: 10px;
  width: 45%;
}

div.account h4 {
  font-size: 12pt;
}

div.account table td {
  vertical-align: top;
  border-bottom: dashed #ccc 1px;
}

div.tradelist ul.trades {
  width: 65%;
  padding: 0px;
  margin: 0px;
}

div.tradelist ul.trades li {
  list-style: none;
  margin: 10px 0px 3px 0px;
  border-bottom: solid 1px #cdd;
}

div.tradelist ul.trades li h4 a {
  font-size: 15pt;
  color: #888;
}

div.tradelist ul.trades li p {
  margin: 5px 0px;
}

div.tradelist ul.trades li p.time {
  font-size: 10pt;
  font-weight: normal;
  text-align:right;
  color: #aaa;
}

div.tradelist ul.trades li p span {
  margin-right: 20px;
  color: #aaa;
}

div.tradelist ul.pages {
  width: 55%;
  text-align: center;
}

div.tradelist ul.pages li {
  list-style: none;
  display: inline;
  margin-right: 8px;
  font-size: 11pt;
  font-weight: bold;
}

div.trade table {
  width: 45%;
  float: left;
  margin: 10px 5px 10px 0px;
}

div.trade table textarea {
  margin: 10px 0px;
  width: 400px;
  height: 180px;
  border: solid 1px #ccf;
}

div.trade table input.text {
  width: 280px;
  border: solid 1px #ccf;
}

div.trade div.cmd {
  text-align: center;
}

div.trade div.cmd a {
  margin-left: 10px;
}

div.trade img {
  margin-top: 10px;
}
