<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>fxrules - Home</title>
  </head>

  <body>
    <div id="container">

      <div>
        <h3>买入规则</h3>
      </div>

      <div>
        <h3>卖出规则</h3>
      </div>

      <div>
        <h3>进行中的头寸</h3>
      </div>

    </div><!-- container -->
  </body>
</html>
