<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <title>fxrules - Home</title>
  </head>

  <body>
    <div id="container">

      <div id="header">
        {% include "header.html" %}
      </div>

      <div id="level">
        {% if level_now %}
        <h3>我的级别: <span>{{ level_now.level }}</h3>
        <table>
          <tbody>
            <tr>
              <td>我的当前市值:</td>
              <td>{{ level_now.value }}</td>
            </tr>
            <tr>
              <td>目标位:</td>
              <td>{{ level_now.target }}</td>
            </tr>
            <tr>
              <td>所需增长:</td>
              <td>{{ level_now.growth }}</td>
            </tr>
            <tr>
              <td>上次市值修改日期:</td>
              <td>{{ level_now.lastupdated }}</td>
            </tr>
          </tbody>
        </table>
        {% endif %}

        <p>
          <form method="POST" action="/savevalue/">
            <label for="newvalue">我的最新市值</label>
            <input type="text" id="newvalue" name="newvalue"/>
            <input type="submit" name="submitvalue" value="保存"/>
          </form>
        </p>
      </div>

      <div id="stat">
        <h3>统计数据</h3>
        <table>
          <tbody>
            <tr>
              <td>累计交易次数:</td>
              <td>{{ stat.count }}</td>
            </tr>
            <tr>
              <td>赢单:</td>
              <td>{{ stat.wincount }}</td>
            </tr>
            <tr>
              <td>胜率:</td>
              <td>{{ stat.win_ratio }}%</td>
            </tr>

            {% for c in currencies %}
            <tr>
              <td>{{c.name}}</td>
              <td>{{c.win_ratio}}%&nbsp;({{c.wincount}}/{{c.count}})</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="rulelist">
        <h3>买入规则</h3>

        <table>
          <thead>
            <tr>
              <th>交易规则</th>
              <th>使用次数</th>
              <th>成功次数</th>
              <th>胜率</th>
              <th>操作</th>
            </tr>
          </thead>

          <tbody>
            {% for rule in buy_rules %}
            <tr>
              <td><a href="/rule/{{rule.id}}">{{ rule.name }}</a></td>
              <td>{{ rule.count }}</td>
              <td>{{ rule.wincount }}</td>
              <td>{{ rule.win_ratio }}%</td>
              <td><a href="/newtrade/{{ rule.id }}">新交易</a></td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

      <div class="rulelist">
        <h3>卖出规则</h3>
        <table>
          <thead>
            <tr>
              <th>交易规则</th>
              <th>使用次数</th>
              <th>成功次数</th>
              <th>胜率</th>
              <th>操作</th>
            </tr>
          </thead>

          <tbody>
            {% for rule in sell_rules %}
            <tr>
              <td><a href="/rule/{{rule.id}}">{{ rule.name }}</a></td>
              <td>{{ rule.count }}</td>
              <td>{{ rule.wincount }}</td>
              <td>{{ rule.win_ratio }}%</td>
              <td><a href="/newtrade/{{ rule.id }}">新交易</a></td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

      <div class="rulelist">
        <h3>进行中的头寸</h3>
        <table>
          <thead>
            <tr>
              <th>ID</th> <th>头寸方向</th>
              <th>使用的规则</th>
              <th>交易币种</th>
              <th>建立日期</th>
              <th>操作</th>
            </tr>
          </thead>

          <tbody>
            {% for t in trades %}
            <tr>
              <td>{{ t.id }}</td>
              <td>{{ t.rule.type }}</td>
              <td><a href="/rule/{{t.rule.id}}">{{ t.rule.name }}</a></td>
              <td>{{ t.currency.name }}</td>
              <td>{{ t.createtime }}</td>
              <td><a href="/closetrade/{{t.id}}">记录结果</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div><!-- container -->
  </body>
</html>
