<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <title>fxrules - Home</title>
  </head>

  <body>
    <div id="container">

      <div id="header">
        {% include "header.html" %}
      </div>

      <div class="rulelist">
        <h3>买入规则</h3>

        <table>
          <thead>
            <tr>
              <td>交易规则</td>
              <td>使用次数</td>
              <td>成功次数</td>
              <td>胜率</td>
              <td>操作</td>
            </tr>
          </thead>

          <tbody>
            {% for rule in buy_rules %}
            <tr>
              <td>{{ rule.name }}</td>
              <td>{{ rule.count }}</td>
              <td>{{ rule.wincount }}</td>
              <td>{{ rule.win_ratio }}%</td>
              <td><a href="/newtrade/{{ rule.id }}">新交易</a></td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

      <div class="rulelist">
        <h3>卖出规则</h3>
        <table>
          <thead>
            <tr>
              <td>交易规则</td>
              <td>使用次数</td>
              <td>成功次数</td>
              <td>胜率</td>
              <td>操作</td>
            </tr>
          </thead>

          <tbody>
            {% for rule in sell_rules %}
            <tr>
              <td>{{ rule.name }}</td>
              <td>{{ rule.count }}</td>
              <td>{{ rule.wincount }}</td>
              <td>{{ rule.win_ratio }}%</td>
              <td><a href="/newtrade/{{ rule.id }}">新交易</a></td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

      <div class="rulelist">
        <h3>进行中的头寸</h3>
        <table>
          <thead>
            <tr>
              <td>头寸方向</td>
              <td>使用的规则</td>
              <td>交易币种</td>
              <td>建立日期</td>
              <td>操作</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            {% for t in trades %}
            <tr>
              <td>{{ t.rule.type }}</td>
              <td>{{ t.rule.name }}</td>
              <td>{{ t.currency.name }}</td>
              <td>{{ t.createtime }}</td>
              <td><a href="/closetrade/{{t.id}}">记录结果</a></td>
            </tr>
            {% endfor %}
          </tbody>
      </div>

    </div><!-- container -->
  </body>
</html>
