<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    <div id="page" class="login">

      <h2>Login to rules management system</h2>

      <form action="/login/" method="post">
        <table>
          <tr>
            <td>Username</td>
            <td><input type="text" name="username" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
          </tr>
        </table>

        <input type="submit" value="submit" name="submit" />
      </form>

    </div>

  </body>
</html>
