<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <script type="text/javascript" src="/static/prototype.js"></script>
    <title>fxrules - Trade list</title>
  </head>

  <body>
    <div id="container" class="tradelist">

      <div id="header">
        {% include "header.html" %}
      </div>

      <div>
        <h3>All trades</h3>

        <div class="leftcontrols">
          <div class="result">
            <p><strong>view by result</strong></p>
            <span><a href="/tradelist/{{page}}/?result=win">win</a></span>
            <span><a href="/tradelist/{{page}}/?result=lose">lose</a></span>
            <span><a href="/tradelist/{{page}}/">all</a></span>
          </div>

          <div class="calendar">
            <p><strong>view by month</strong></p>
            <ul>
              {% for c in calendar %}
              <li>{{c.0}}/{{c.1}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <ul class="trades">
          {% for t in trades %}
          <li>
          <h4><a href="/trade/{{ t.id }}/" target="_blank">{{ t.currency.name }}</a></h4>
          <p>
          <span>win: {{ t.win }}</span>
          <span>closed: {{ t.isover }}</span>
          <span>pts: {{ t.pts }}</span>
          </p>
          <p>{{ t.memo }}</p>

          <p class="time">{{ t.createtime }}</p>
          </li>
          {% endfor %}
        </ul>

        <ul class="pages">
          {% for p in pagelist %}
          <li>
          <a href="/tradelist/{{p}}/?result={{result}}">{{p}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </body>
</html>
